@tailwind base;
@tailwind components;
@tailwind utilities;

/* extend Tailwind's base layer to set foundational styles */
@layer base {
  h1 {
    @apply text-6xl;
    font-family: var(--font-pt-sans);
  }
  h3 {
    @apply text-2xl;
    font-family: var(--font-secondary);
  }
  :root {
    --background: 255, 255, 255;
    --project-card-bg: 255, 255, 255;
    --project-card-bg-hover: 241, 245, 249;

    --copy-primary: 0, 0, 0;

    background: rgba(var(--background));
  }
}

.dark {
  --background: 0, 0, 0;
  --project-card-bg: 10, 10, 10;
  --project-card-bg-hover: 18, 18, 18;

  --copy-primary: 255, 255, 255;

  background: rgba(var(--background));
}

body {
  line-height: 1.5;

  --font-primary: var(--font-oswald);
  --font-secondary: var(--font-pt-sans);
}

p {
  font-family: var(--font-primary);
}
