@tailwind base;
@tailwind components;
@tailwind utilities;

/* extend Tailwind's base layer to set foundational styles */
@layer base {
  h1 {
    @apply text-6xl;
  }
  h3 {
    @apply text-2xl;
  }
}

:root {
  --qf-blue: 3, 15, 24;
}

body {
  line-height: 1.5;
}

p {
  font-family: var(--font-oswald);
}
