@tailwind base;
@tailwind components;
@tailwind utilities;

/* extend Tailwind's base layer to set foundational styles */
@layer base {
  h1 {
    @apply text-4xl sm:text-6xl;
    font-family: var(--font-pt-sans);
  }
  h3 {
    @apply text-2xl;
    font-family: var(--font-secondary);
  }
  :root {
    --background-color: 255, 255, 255;
    --project-card-bg: 255, 255, 255;
    --project-card-bg-hover: 240, 240, 240;

    --copy-primary: 0, 0, 0;

    background-color: rgba(var(--background-color));
    /* transition: background-color 0.15s ease-in-out; */
  }
}

.dark {
  --background-color: 0, 0, 0;
  --project-card-bg: 10, 10, 10;
  --project-card-bg-hover: 15, 15, 15;

  --copy-primary: 255, 255, 255;

  background-color: rgba(var(--background-color));
  /* transition: background-color 0.15s ease-in-out; */
}

body {
  line-height: 1.5;

  --font-primary: var(--font-pt-sans);
  --font-secondary: var(--font-oswald);

  /* background-color: rgba(var(--background-color));
  transition: background-color 0.15s ease-in-out; */
}

header {
  font-family: var(--font-secondary);
}

p {
  font-family: var(--font-primary);
}
