@tailwind base;
@tailwind components;
@tailwind utilities;

/* extend Tailwind's base layer to set foundational styles */
@layer base {
  h1 {
    @apply text-4xl sm:text-6xl;
    font-family: var(--font-primary);
  }

  h2 {
    @apply text-2xl;
    font-family: var(--font-primary);
  }

  :root {
    --background-color: 255, 255, 255;
    --foreground: 0, 0, 0;
    --project-card-bg: 255, 255, 255;
    --project-card-bg-hover: 240, 240, 240;
    --release-images-card: 248, 248, 250;
    --carousel-active-page: 28, 28, 30;

    --copy-primary: 0, 0, 0;

    background-color: rgba(var(--background-color));
    /* transition: background-color 0.15s ease-in-out; */
  }
}

.dark {
  --background-color: 0, 0, 0;
  --foreground: 255, 255, 255;
  --project-card-bg: 10, 10, 10;
  --project-card-bg-hover: 15, 15, 15;
  --release-images-card: 28, 28, 30;
  --carousel-active-page: 248, 248, 250;

  --copy-primary: 255, 255, 255;

  background-color: rgba(var(--background-color));
  /* transition: background-color 0.15s ease-in-out; */
}

body {
  line-height: 1.5;

  --font-primary: var(--font-pt-sans);
  --font-secondary: var(--font-oswald);

  /* background-color: rgba(var(--background-color));
  transition: background-color 0.15s ease-in-out; */
}

header,
footer {
  font-family: var(--font-secondary);
}

p {
  font-family: var(--font-primary);
}

.release-field {
  @apply text-xl italic;
  font-family: var(--font-secondary);
}

.splide .splide__arrow--prev {
  @apply absolute left-[10px] top-1/2 transform -translate-y-1/2;
}

.splide .splide__arrow--next {
  @apply absolute right-[10px] top-1/2 transform -translate-y-1/2;
}

.splide .splide__pagination {
  @apply relative mt-4;
}

.splide .splide__pagination .splide__pagination__page.is-active {
  background: rgba(var(--carousel-active-page));
}

/* Taken from https://ui.aceternity.com/tools/box-shadows */
.boxshadow-studydesk {
  @apply shadow-[0px_4px_16px_rgba(17,17,26,0.1),_0px_8px_24px_rgba(17,17,26,0.1),_0px_16px_56px_rgba(17,17,26,0.1)];
}
